@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');



body {

    background-color: #bca9d0;
    margin: 10px;
    font-family: 'IM Fell French Canon SC', serif;
}

header {
    display: flex;
    min-height: 90px;
    background-color: #D9D9D9;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header img {
    width: 10%;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    font-weight: 600;
    padding: right 10px;
    text-align: left;
}

.columnas img {
    width: 60%;
    height: 80%;
    margin-left: 20%;
    border: 5px #D9D9D9 solid;
    box-shadow: 10px 10px 10px;
    color: rgb(151, 76, 145);


}

.columnas {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}

.filas {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 4%;
}


h1,
h2 {
    text-align: center;
}

.pie {
    display: flex;
    min-height: 90px;
    background-color: #D9D9D9;
    padding: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    border-color: #bca9d0;

}

.contenedor__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    background-color: #89bacb;
    border: 1px solid;
    text-align: justify;
}


.contenedor__item img {
    max-width: 500px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 3%;
    width: 70%;
    border-radius: 10px 0 10px 0;
}

h4 {
    text-align: center;
    font-size: 30px;

}

.contenerdor__descripcion {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-bottom: 12px;
    width: 60%;
}

.boton {
    background-color: #bca9d0;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin: 16px;
    font-size: 16px;
    color: #080808;
    font-family:'IM Fell French Canon SC', serif;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
    
}

.form-register {
    width: 400px;
    background-color: beige;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: #080808;
    box-shadow: 7px 13px 37px #180a27;

}

.form-register h4 {
    font-size: 20px;
    margin: bottom 20px;
}

.controls {
    width: 100%;
    background-color: rgb(171, 156, 179);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #89bacb;
    font-size: 18px;
    color: white;
}

.form-register .botons {
    width: 100%;
    background-color: rgb(162, 106, 214);
    border-radius: 5px;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

.redes{
    
    width: 5%;
    height: 5%;
    margin-left: 5%;
    padding: 15px;

}

@media  screen and (max-whidth: 800px){
 
   .contenedor, .form-register{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
   

   

}