@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

body {
    background-color: #bca9d0;
    margin: 10px;
    font-family: 'IM Fell French Canon SC', serif;
}

header {
    display: flex;
    min-height: 90px;
    background-color: #D9D9D9;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header img {
    width: 10%;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    font-weight: 600;
    padding: right 10px;
    text-align: left;
}

.columnas img {
    width: 60%;
    height: 80%;
    margin-left: 20%;
    border: 5px #D9D9D9 solid;
    box-shadow: 10px 10px 10px; color: rgb(151, 76, 145);
    

}

.columnas {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}

.filas {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 4%;
}


h1,
h2 {
    text-align: center;
}

.pie {
    display: flex;
    min-height: 90px;
    background-color: #D9D9D9;
    padding: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    border-color: #bca9d0;

}

.contenedor__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    background-color: #89bacb;
    border: 1px solid;
    text-align: justify;
}


.contenedor__item img {
    max-width: 500px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 3%;
    /*width: 100%;*/
    border-radius: 10px 0 10px 0;
}

h4 {
    text-align: center;
    font-size: 30px;

}

.contenerdor__descripcion {
    display: flex;
    flex-direction: column;
    
    margin-right: 5%;



}

@media all and (max-width: 600px){
    body{
        width:100%;
        height:auto;
        margin-left:10px;
    }
}